<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>About Riktam</h3>
				<p>Riktam provides Top 1% developers to join your project teams, with engagement periods starting at 2 months. We are based in Hyderabad, India and work with teams around the world.
					Top Tier Startups, Digital Agencies and Corporates use talent from Riktam where top talent matters. </p>
				<p>Copyright &copy; 2020</p>
			</div>
			
			<div class="col-md-6">
				<ul class="list-unstyled">
					<br><br>
					<li><a href="/">Home</a></li>
					<li><a href="about">About</a></li>
					<li><a href="articles">Articles</a></li>
				</ul>
			</div>
			</div>
		</div>
</footer>